@import url('https://fonts.googleapis.com/css2?family=Inter&family=Jacques+Francois+Shadow&family=Lato&family=Quicksand:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Quicksand:wght@400;500&display=swap');
body{margin: 0 ;
    padding: 0;
}

*{
    padding: 0;
    margin: 0;
}

/* barre de navigation */

nav{background: black;
    display: flex;
    width: 100%;
    position: fixed; 
    justify-content: space-between;
    align-items: center;
    height: 80px;
    z-index: 1;
 }

 .onglets ul li{
  display: inline;
 }
 
 nav p{ margin-left: 20px;
     color: orange;
     font-size: 30px;
     font-family: 'Jacques Francois Shadow', cursive;
 }

 .gauche{
    display: flex;
 }
 
 .onglets ul li{
     display: inline;
     margin-left: 80px;
     color: rgba(255, 255, 255, 0.76);
     }
 
     a{
         text-decoration: none;
         color: white;
     }
     
     .onglets a:hover{
         color: rgba(255, 255, 255, 0.76);
     }
 
 nav .recherche button {
     display: flex;
     justify-content: center;
     align-items: center;
      background: orange;
      padding:10px;
      margin-left:00px ;
      width: 120px;
      border: none;
      border-radius: 5px;
      margin-right: 50px;
  
  }
  nav .inscription button {
    display: flex;
    justify-content: center;
    align-items: center;
     background: orange;
     padding:10px;
    
     width: 120px;
     border: none;
     border-radius: 5px;
     margin-right: 50px;
 
 }
 nav .inscription button:hover{
    scale: 1.05;
 }

 
  nav .recherche button:hover{
     scale: 1.05;
  }
 
  .contenus img{

     
  }
 
 /* responsivité */
 
 @media screen and (max-width: 500px){

    

    
 }
     
 
 
 
 /* fin de la  barre de navigation */




/* fin de la  barre de navigation */

/* début du corps de la page */

.text{position: absolute;
    bottom: 10px;
    left: 50px;
}
.text p{
    font-size: 35px;
    color: white;
}

.annonces{
  margin-top:-400px ;
}
.nouveauté{
    display: flex;
    justify-content: center;
    
}

 .nouveauté .nouv1{
    width: 300px;
    height: 350px;
   background: red;
}

.nouveauté .nouv2{
    width: 300px;
    height: 350px;
   background: red;
   margin-left: 10px;
}

.nouveauté .nouv3{
    width: 300px;
    height: 350px;
   background: red;
   margin-left: 10px;
}

.nouveauté .nouv4{
    width: 300px;
    height: 350px;
   background: red;
   margin-left: 10px;
}