@import url('https://fonts.googleapis.com/css2?family=Inter&family=Jacques+Francois+Shadow&family=Lato&family=Quicksand:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Quicksand:wght@400;500&display=swap');
body{margin: 0 ;
    padding: 0;
}

*{
    padding: 0;
    margin: 0;
}

/* barre de navigation */

nav{background: black;
    display: flex;
    width: 100%;
    position: fixed; 
    justify-content: space-between;
    align-items: center;
    height: 80px;
    z-index: 1;
 }

 .onglets ul li{
  display: inline;
 }
 
 nav p{ margin-left: 20px;
     color: orange;
     font-size: 35px;
     font-family: 'Jacques Francois Shadow', cursive;
 }

 .gauche{
    display: flex;
 }
 
 .onglets ul li{
     display: inline;
     margin-left: 80px;
     color: rgba(255, 255, 255, 0.76);
     font-size: 28px;
     }
 
      a{
         text-decoration:none;
         color: white;
     }
     
     .onglets a:hover{
         color: rgba(255, 255, 255, 0.76);
     }
 
 nav .recherche button {
     display: flex;
     justify-content: center;
     align-items: center;
      background: orange;
      padding:10px;
      margin-left:00px ;
      width: 120px;
      border: none;
      border-radius: 5px;
      margin-right: 50px;
  
  }
  nav .inscription button {
    display: flex;
    justify-content: center;
    align-items: center;
     background: white;
     padding:10px;
     width: 120px;
     border: none;
     border-radius: 5px;
     margin-right: 50px;
 }
 .inscription a{
    color: black;
    text-decoration: none;
 }
 nav .inscription button:hover{
    scale: 1.05;
 }

 
  nav .recherche button:hover{
     scale: 1.05;
  }
 
  .img{display: flex;
    justify-content: center;
    align-items: center;
 
  }

 
 /* responsivité */
 
 @media screen and (max-width: 500px){

    

    
 }
     
 
 
 
 /* fin de la  barre de navigation */




/* fin de la  barre de navigation */

/* début du corps de la page */

.text{position: relative;
    top: -500px;
    
}
.text p{
    font-size: 35px;
    color: white;
}

.annonces h1{
    color: aqua;
}
.annonces{
   position: relative;
  
  margin-top:-800px;
  display: grid;
  grid-template-columns: 100%;
  
  

}
.nouveauté{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1500px;
    border: 1px solid green;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 10px;
    
}

 .nouveauté .nouv{
    width: 320px;
    height: 400px;
   background: violet;
   flex-shrink: 0;
}
.nouvauté .nouv:hover{
    scale: 1,05;
}

