@import url('https://fonts.googleapis.com/css2?family=Inter&family=Jacques+Francois+Shadow&family=Lato&family=Quicksand:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Quicksand:wght@400;500&display=swap');
body{margin: 0 ;
    padding: 0;
    margin: 0 auto;
    background: black;
}

*{
    padding: 0;
    margin: 0;
   
}

/* barre de navigation */
nav{background: black;
   display: flex;
   width: 100%;
   position: fixed; 
   justify-content: space-between;
   align-items: center;
   height: 80px;
   
}

.onglets ul li{
    display: inline;

}

nav p{ margin-left: 20px;
    color: orange;
    font-size: 30px;
    font-family: 'Jacques Francois Shadow', cursive;

   
}

.onglets ul li{
    display: inline;
    margin-left: 80px;
    color: rgba(255, 255, 255, 0.76);

    }


    a{
        text-decoration: none;
        color: white;
    }
    
    .onglets a:hover{
        color: rgba(255, 255, 255, 0.76);
    }

nav .recherche button {
    display: flex;
    justify-content: center;
    align-items: center;
     background: orange;
     padding:10px;
     margin-left: 50px;
     width: 120px;
     border: none;
     border-radius: 5px;
     margin-right: 50px;
 
 }
 .recherche{
    display: flex;
 }
 .user img{
    margin-right: 0px;
 }

 nav .recherche button:hover{
    scale: 1.05;
 }


 .menu img{
    display: none;
    width: 35px;

 }

/* responsivité */

@media screen and (max-width:950px){
    nav {
        padding: 0px ;
        margin: 0 auto;
    }
    nav .onglets{
        position: absolute;
        top: 0;
        left: 0;
        background: transparent;
        
        width: 250px;
        height: 200px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        margin-left:700px ;
        margin-top: 50px;
       
       
    }
   .recherche{
    display: flex;
    justify-content: center;
   }


    ul  {  display:flex ;
        flex-direction: column;
 
    }

    
    .onglets ul li{
     margin-top: 20px;
     font-size: 20px;
    }
    



    .menu img{
       display: flex;
        display: block;
        align-items: flex-end;
        
    }

}



/* début section films */

 



/* fin de la  barre de navigation */