body{margin: 0;
    padding: 0;
    
    
  
}
.image {
    
    
}

.vidéo{
    
   justify-content: center;
    align-items: center;
    
    margin-top: 0 auto;
    
}
  .vid{
   border: 1px solid red;
    width: 00px;
    display: flex;
    justify-content: center;
    margin: 0 auto;

  }

 img:hover{
    scale: 1.05;
}
p{
    font-size: 20px;
}