@import url('https://fonts.googleapis.com/css2?family=Inter&family=Jacques+Francois+Shadow&family=Lato&family=Quicksand:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Quicksand:wght@400;500&display=swap');
body{margin: 0 ;
    padding: 0;
    margin: 0 auto;
}

*{
    padding: 0;
    margin: 0;
}

/* barre de navigation */
nav{background: black;
   display: flex;
   width: 100%;
   position: fixed; 
   justify-content: space-between;
   align-items: center;
   height: 80px;
}
.onglets ul li{
    display: inline;

}

nav p{ margin-left: 20px;
    color: orange;
    font-size: 30px;
    font-family: 'Jacques Francois Shadow', cursive;

   
}

.onglets ul li{
    display: inline;
    margin-left: 80px;
    color: rgba(255, 255, 255, 0.76);

    }


    a{
        text-decoration: none;
        color: white;
    }
    
    .onglets a:hover{
        color: rgba(255, 255, 255, 0.76);
    }

nav .recherche button {
    display: flex;
    justify-content: center;
    align-items: center;
     background: orange;
     padding:10px;
     margin-left: 300px;
     width: 120px;
     border: none;
     border-radius: 5px;
     margin-right: 50px;
 
 }

 nav .recherche button:hover{
    scale: 1.05;
 }


 .menu img{
    display: none;
    width: 35px;
 }

/* responsivité */

@media screen and (max-width: 950px){

   
}

/* début section séries */

  /* séries jeunesses */

.séries-jeunesses{}

p{

  
}


.jeunesse {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 200px;
}

.jeunesse .ligne1{
    width: 250px;
    height: 250px;
    background: brown;

}

.jeunesse .ligne2{
    width: 250px;
    height: 250px;
    background: rgb(165, 147, 42);


}


.jeunesse .ligne3{
    width: 250px;
    height: 250px;
    background: rgb(165, 42, 42);

}

.jeunesse .ligne4{
    width: 250px;
    height: 250px;
    background: rgb(42, 95, 165);

}

.jeunesse .ligne5{
    width: 250px;
    height: 250px;
    background: rgb(165, 42, 42);
    
}


   /* séries d'amour */


.amour {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.amour .ligne1{
    width: 250px;
    height: 250px;
    background: brown;

}

.amour .ligne2{
    width: 250px;
    height: 250px;
    background: rgb(165, 147, 42);


}


.amour .ligne3{
    width: 250px;
    height: 250px;
    background: rgb(165, 42, 42);

}

.amour .ligne4{
    width: 250px;
    height: 250px;
    background: rgb(42, 95, 165);

}

.amour .ligne5{
    width: 250px;
    height: 250px;
    background: rgb(165, 42, 42);
    

}
/* fin séries d'amour */


/* séries historique */


.historique {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.historique .ligne1{
    width: 250px;
    height: 250px;
    background: brown;

}

.historique .ligne2{
    width: 250px;
    height: 250px;
    background: rgb(165, 147, 42);


}


.historique .ligne3{
    width: 250px;
    height: 250px;
    background: rgb(165, 42, 42);

}

.historique .ligne4{
    width: 250px;
    height: 250px;
    background: rgb(42, 95, 165);

}

.historique .ligne5{
    width: 250px;
    height: 250px;
    background: rgb(165, 42, 42);
    

}
/* fin séries-historique */

/* debut séries fontastique */

.fontastique {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.fontastique .ligne1{
    width: 250px;
    height: 250px;
    background: brown;

}

.fontastique .ligne2{
    width: 250px;
    height: 250px;
    background: rgb(165, 147, 42);


}


.fontastique .ligne3{
    width: 250px;
    height: 250px;
    background: rgb(165, 42, 42);

}

.fontastique .ligne4{
    width: 250px;
    height: 250px;
    background: rgb(42, 95, 165);

}

.fontastique .ligne5{
    width: 250px;
    height: 250px;
    background: rgb(165, 42, 42);
    

}
/* fin films horeur */
    